**.[oa]
**.cm[oixa]
**.cmxa
**.annot
**.quals
**.pyc
**.scratch
**~
_build
config.make
config/Makefile
config/m.h
config/s.h
external/*
parsing/lexer.ml
parsing/linenum.ml
parsing/parser.ml
parsing/parser.mli
parsing/parser.output
utils/config.ml
liquid.opt
liquid.byte
